/* Estilos para el primer párrafo*/

.font-style {
    font-family: Arial;
}

/* Estilos para el segundo párrafo */

.font-size {
    font-size: 30px;    
}

/* Estilos para el tercer párrafo */
.font-weight {
    font-weight: 900;
}


